h1 {
    text-align: center;
  }

  .search-bar {
    background-color: #acb7ce;
    position: relative;
    top: 5px;
  }

  .field-title {
    position: relative;
    top: 5px;
  }

  .wmrk {
    position: relative;
    top: -10px;
    left: 5px;
    color:#7b8293;
  }

  .ui.button {
    margin: 10px 0;
  }
  
  .icon {
    position: relative;
    top: -5;
    left: 540px;
  }

  .onhovertip {
    display: none;
    position: relative;
    left: 420px;
  }

  .icon:hover + .onhovertip {
    display: block;
  }